body {
    
    margin: 0;
    padding: 0;
  background-image: url('./images/tabletop.png'); 

    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;

  
}
div.at-container {
    display: flex;
    
  }
  #header {
        color: #4f2037;
        font-weight: bold;
        font-size: 3vw;
        justify-content: center;
        text-decoration-color: #4f2037;
        position: relative;
        align-items: center;
        margin-left: 5%;
        padding-top: 2%;
      }  
/* chamber img */
img.centered {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;

}

/* chamber img */
.image-container {
    position: relative;
    display: inline-block;
    top: 180px;
    
}

/* waste water */
.color-overlay {
    position: absolute;
    top: 44%; 
    left: 30.4%; 
    width: 18.5%; 
    height: 50%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    z-index: 1;
    background-color: rgb(73, 65, 31); 
}

/* catholyte pottassium permaganate */
.color-overlay1 {
    position: absolute;
    top: 44%;
    left: 48.9%;
    width: 20.4%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 106, 190);
    opacity: 0.5;
    z-index: 1;
    display: none;
}

/*water catholyte*/
.color-overlay3 {
    position: absolute;
    top: 44%;
    left: 48.9%;
    width: 20.5%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DEF4FC;
    opacity: 0.6;
    z-index: 1;
    display: none;
}

/* agar */
.color-overlay2 {
    position: absolute;
    top: 11%;
    left: 48.9%;
    width: 2.3%;
    height: 82.5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e6d58b;
    opacity: 0.5;
    z-index: 1;
}

/* overlay1 and two text */
.overlay-text1 {
   
    font-size: 1.5vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    text-align: center;
    position: absolute;
    top:-40%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}


.overlay-text2 {
    font-size: 1.5vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    text-align: center;
    position: absolute;
    top:-40%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.chamber_anodename {
    text-align: center;
    margin-left: -530px;
    margin-top: -20px;
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
}

.chamber_cathodename {
    text-align: center;
    margin-left: 500px;
    margin-top: -20px;
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
}


.commonAnode-container {
    position: absolute;
    top: 30%;
    left: 43%;
    width: 2%;
    height: 50%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0.8
     
}

.commonAnode-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}






.commonCathode-container {
    position: absolute;
    top: 30%;
    left: 55%;
    width: 2%;
    height: 50%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0.8
}

.commonCathode-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.image-nameCathode {
    position: absolute;
    right: 830px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(236, 234, 234);
    z-index: 1;
}

.stand_image {
    
        position: absolute;
        display:inline;
        top: -10%;
        left: 29.9%;
        width: 80%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1; 
      

}

#stand-image {
    position: absolute;
    width: 50%;
    height: 40%;
    object-fit: cover; 
  
}
/*BULB css*/
.bulb_image {
    top: 45%;
    left: 47.6%;
    width: 5%; 
    height: 10%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
}

#bulbOff-image {
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    display: block;
    filter: grayscale(100%);
    position: absolute;
    
}


#bulbOn-image {
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
}



.wire_image {
    position: absolute;
    top: 2.5%;
    left: 39.5%;
    width: 35%;
    height: 55.9%;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
  
}

#wire-image {
    position: absolute;
    width: 30%;
    height: 60%;
    
}






.wirepiece_image {
    position: absolute;
    top: -18%;
    left: 39.5%;
    width: 35%;
    height: 55.9%;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

#wirepiece-image {
     position: absolute;
    width: 30%;
    height: 60%;
}



.wirepieceright_image {
    position: absolute;
    top: -18%;
    left: 48%;
    width: 35%;
    height: 55.9%;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
  
   
  }
  
  
  #wirepieceright-image {
    position: absolute;
    width: 30%;
    height: 60%;
  }
  
  

  .wire2_image {
    position: absolute;
    top: 1.9%;
    left: 45%;
    width: 20%;
    height: 35%;
    align-items: center;
    justify-content: center;
  
   
  }
  
 
  #wire2-image {
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
    
  }

  /* Menu Alignment*/
  .main-container  {
    position: absolute;
    top: 20%;
    left: 11%;
    width: 80%;
    height: 50%;
    
  }
label {
    display: inline-block;
    margin-bottom: 10px;
     padding: 10px;
     font-size: 18px;
    border: 1px solid #ccc;
    text-align: left;
    background-color: #f7f0f0;
    font-weight: bold;
    text-align: left;
    width: 12%;
    font-weight: bold;
}

.custom-select {
  
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
 
}


.custom-select {
  background-color: rgb(228, 109, 155);
}

.custom-select option:checked {
  background-color: #ddd;
}





.image-container {
    position: absolute;
    display: inline-block;
    top: 55%;
    
}



  
